.Homee {
  .container {
    height: 100vh;

    padding: 0;
    background-color: #14171a;
    // Layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;

    .container-text {
      position: relative;
      margin-left: 100px;
      grid-row: 2/3;
      grid-column: 1/2;
      display: flex;

      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;

      .text {
        h1 {
          color: white;
          font-size: 2.2rem;
          margin: 0;
        }
        p {
          color: white;
          font-size: 1.5rem;
          margin: 0;
        }
        span {
          color: #00a8ff;
        }
      }

      .button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .download {
          border-radius: 25px;
          cursor: pointer;
          border: none;
          font-weight: 500;
          font-size: 1rem;
          padding: 9px 20px;
          background-color: #007ebd;
          color: white;
          i {
            margin-left: 5px;
          }
        }

        .download:hover {
          box-shadow: 0px 0px 8px #028ace;
          background-color: #028ace;
        }

        .contact {
          border-radius: 25px;
          cursor: pointer;

          font-weight: 500;
          font-size: 1rem;
          padding: 9px 20px;
          border: solid 2px #028ace;
          color: white;
        }

        .contact:hover {
          box-shadow: 0px 0px 8px #028ace;
        }

        .box1 {
          padding: 0;
          all: unset;

          .icon1 {
            font-size: 35px;
            color: #00a8ff;
          }

          .icon1:hover {
            text-shadow: 0px 0px 8px #028ace;
          }
        }

        .box1:hover {
          all: unset;
        }

        .box2:hover {
          all: unset;
        }

        .box3 {
          padding: 0;
          all: unset;
          .icon3 {
            font-size: 35px;
            color: #00a8ff;
          }
          .icon3:hover {
            text-shadow: 0px 0px 8px #028ace;
          }
        }

        .box3:hover {
          all: unset;
        }
      }
    }
    .container-image {
      margin-right: 100px;
      grid-row: 2/3;
      grid-column: 2/3;
      display: flex;
      align-items: center;
      justify-content: center;
      .img {
        max-width: 32rem;
        width: 100%;
      }
    }
  }

  // Desktop-Laptop

  @media (max-width: 1200px) {
  }

  @media (max-width: 1070px) {
    .container-text {
      .text {
        h1 {
          font-size: 2rem !important;
        }
        p {
          font-size: 1.4rem !important;
        }
      }

      .button {
        .download {
          font-weight: 500 !important;
          font-size: 0.9rem !important;
          padding: 9px 15px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          font-weight: 500 !important;
          font-size: 0.9rem !important;
          padding: 9px 15px !important;
        }

        .box1 {
          .icon1 {
            font-size: 30px !important;
          }
        }

        .box3 {
          .icon3 {
            font-size: 30px !important;
          }
        }

        .box3:hover {
        }
      }
    }
  }

  // Tablet

  @media (max-width: 992px) {
    .container-text {
      .text {
        h1 {
          font-size: 1.4rem !important;
        }
        p {
          font-size: 1.2rem !important;
        }
      }

      .button {
        .download {
          font-weight: 500 !important;
          font-size: 0.7rem !important;
          padding: 9px 15px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          font-weight: 500 !important;
          font-size: 0.7rem !important;
          padding: 9px 15px !important;
        }

        .box1 {
          .icon1 {
            font-size: 30px !important;
          }
        }

        .box3 {
          .icon3 {
            font-size: 30px !important;
          }
        }

        .box3:hover {
        }
      }
    }

    .container-image {
      .img {
        max-width: 25rem !important;
        width: 100%;
      }
    }
  }

  @media (max-width: 793px) {
    .container-text {
      .text {
        h1 {
          font-size: 1.4rem !important;
        }
        p {
          font-size: 1.2rem !important;
        }
      }

      .button {
        .download {
          font-weight: 500 !important;
          font-size: 0.7rem !important;
          padding: 9px 13px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          font-weight: 500 !important;
          font-size: 0.7rem !important;
          padding: 9px 13px !important;
        }
      }
    }
  }

  // Large-Cellphone

  @media (max-width: 768px) {
    .container-text {
      margin: 0 100px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      grid-column: 1/3 !important;
      .text {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        h1 {
          font-size: 1.7rem !important;
        }
        p {
          font-size: 1.4rem !important;
        }
      }

      .button {
        .download {
          font-weight: 500 !important;
          font-size: 0.8rem !important;
          padding: 9px 15px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          font-weight: 500 !important;
          font-size: 0.8rem !important;
          padding: 9px 15px !important;
        }

        .box1 {
          .icon1 {
            font-size: 30px !important;
          }
        }

        .box3 {
          .icon3 {
            font-size: 30px !important;
          }
        }

        .box3:hover {
        }
      }
    }

    .container-image {
      display: none !important;
    }
  }

  // Small-Cellphone

  @media (max-width: 567px) {
    .container-text {
      position: relative;
      .text {
        h1 {
          text-align: center;
          font-size: 1.5rem !important;
        }
        p {
          text-align: center;
          font-size: 1rem !important;
        }
      }

      .button {
        position: relative;
        .download {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.6rem !important;
          padding: 9px 15px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.6rem !important;
          padding: 9px 15px !important;
        }

        .box1 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-right: 20px !important;
          .icon1 {
            font-size: 25px !important;
          }
        }

        .box3 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-left: 40px !important;
          .icon3 {
            font-size: 25px !important;
          }
        }
      }
    }
  }

  @media (max-width: 404px) {
    .container-text {
      position: relative;
      .text {
        h1 {
          text-align: center;
          font-size: 1.5rem !important;
        }
        p {
          text-align: center;
          font-size: 1rem !important;
        }
      }

      .button {
        .download {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.6rem !important;
          padding: 7px 13px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.6rem !important;
          padding: 7px 13px !important;
        }

        .box1 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-right: 20px !important;
          .icon1 {
            font-size: 25px !important;
          }
        }

        .box3 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-left: 40px !important;
          .icon3 {
            font-size: 25px !important;
          }
        }
      }
    }
  }

  @media (max-width: 396px) {
    .container-text {
      position: relative;
      .text {
        h1 {
          text-align: center;
          font-size: 1.5rem !important;
        }
        p {
          text-align: center;
          font-size: 1rem !important;
        }
      }

      .button {
        .download {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.5rem !important;
          padding: 7px 9px !important;
          i {
            margin-left: 5px;
          }
        }

        .contact {
          text-align: center;
          font-weight: 500 !important;
          font-size: 0.5rem !important;
          padding: 7px 9px !important;
        }

        .box1 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-right: 20px !important;
          .icon1 {
            font-size: 25px !important;
          }
        }

        .box3 {
          position: absolute !important;
          margin-top: 80px !important;
          margin-left: 40px !important;
          .icon3 {
            font-size: 25px !important;
          }
        }
      }
    }
  }
}
